body {
    font-family: "Inconsolata", serif;
    background-color: #1b1a17;
}

* {
    box-sizing: border-box;
}

ul, ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1245px;
    margin: 0 auto;
    padding: 0 15px;
}