.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #00000000;
    backdrop-filter: blur(5px);
    z-index: 4;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20.5px 0;
    max-width: 1200px;
    margin: 0 auto;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 19px;
    }

    @media (max-width: 530px) {
        flex-direction: row;
        gap: 0;
    }
}

.logo {
    z-index: 2;
}
.menu {
    @media (max-width: 530px) {
        position: fixed;
        top: -100vh;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(27, 26, 23, 0.95);
        
        transition: 600ms;

        &.open {
            top: 0;
        }
    }
}
.list-anchor-links {
    display: flex;
    gap: 68px;

    @media  (max-width: 530px){
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: center;
    }
}
.list-anchor-links__item {
}

.anchor-link {
    font-size: 20px;
    color: #f0e3ca;
    font-weight: 700;
    text-decoration: none;
    text-transform: capitalize;
    transition: color 500ms;

    &:hover {
        color: #00cc00;
    }
}

.burger {
    width: 48px;
    height: 48px;
    background-color: transparent;
    display: none;
    border: none;

    &__line {
        transition: background-color .3s 0s;
        width: 36px;
        height: 4px;
        display: block;
        background-color: #f0e3ca;
        position: relative;

        &::before,
        &::after {
            content: "";
            width: 36px;
            height: 4px;
            display: block;
            background-color: #f0e3ca;
            position: absolute;
            left: 0;
            transition: transform .3s, bottom .3s .3s;
        }

        &::before {
            bottom: 10px;
        }

        &::after {
            bottom: -10px;
        }


    }

    &.open {
        .burger__line {
            background-color: transparent;
            
            &::before{
                bottom: 0;
                transform: rotate(45deg);
                transition: bottom .3s, transform .3s .3s;
            }
            &::after{
                bottom: 0;
                transform: rotate(-45deg);
                transition: bottom .3s, transform .3s .3s;
            }
        }
    }

    @media (max-width: 530px) {
        display: flex;
        justify-content: center;
        align-items: center;

    }
}
