.header {

}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20.5px 0;
    max-width: 1200px;
    margin: 0 auto;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 19px;
        
    }
}

.logo {
}
.menu {
}
.list-anchor-links {
    display: flex;
    gap: 68px;
}
.list-anchor-links__item {
}
.anchor-link {
    font-size: 20px;
    color: #f0e3ca;
    font-weight: 700;
    text-decoration: none;
    text-transform: capitalize;
    transition: color 500ms;

    &:hover {
        color: #00cc00;
    }
}
