.header {

}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20.5px 0;
    max-width: 1200px;
    margin: 0 auto;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 19px;
    }

    @media (max-width: 530px) {
        flex-direction: row;
        gap: 0;
    }
}

.logo {
}
.menu {
    @media (max-width: 530px) {
        display: none;
    }
}
.list-anchor-links {
    display: flex;
    gap: 68px;
}
.list-anchor-links__item {
}

.anchor-link {
    font-size: 20px;
    color: #f0e3ca;
    font-weight: 700;
    text-decoration: none;
    text-transform: capitalize;
    transition: color 500ms;

    &:hover {
        color: #00cc00;
    }
}

.burger {
    width: 48px;
    height: 48px;
    background-color: transparent;
    display: none;
    border: none;

    &__line {
        width: 36px;
        height: 4px;
        display: block;
        background-color: #f0e3ca;
        position: relative;

        &::before,
        &::after {
            content: "";
            width: 36px;
            height: 4px;
            display: block;
            background-color: #f0e3ca;
            position: absolute;
            left: 0;
        }

        &::before {
            bottom: 10px;
        }

        &::after {
            bottom: -10px;
        }


    }


    @media (max-width: 530px) {
        display: flex;
        justify-content: center;
        align-items: center;

    }
}
