.skills {
    .context-title {
        text-align: center;
    }
}
.skills__content {
    padding: 64px 0;
}

.list-skills {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.list-skills__item {
    &:first-child, &:nth-child(2) {
        .card-skill__icon {
            width: 114px;
            height: 129px;
        }
    }
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
        .card-skill__icon {
            width: 114px;
            height: 129px;
        }
    }
}
.card-skill {
    width: 200px;
    height: 300px;
    background-color: #1f1e1b;
}
.card-skill__icon {
}
.skill-icon {
    width: 100%;
    height: 100%;
}
.card-skill__title {

}