.welcome {
}

.welcome__content {
}

.hero {
    max-width: 448px;
}

.hero__main-title {
    margin-bottom: 8px;
    color: #00cc00;
    font-size: 64px;
    font-weight: 900;
}

.hero__subtitle {
    margin-bottom: 11px;
    color: #F0E3CA;
    font-size: 40px;
    font-weight: 700;
}

.hero__description {
    color: #F0E3CA;
    font-size: 20px;
    font-weight: 400;
}