.welcome {
}

.welcome__content {
    display: flex;
    justify-content: space-between;
    align-items:  center;
    padding: 72.5px 0px;

    @media (max-width: 1100px) {
        flex-direction: column;
        gap: 64px;
        padding: 128px 0px;
    }

    @media (max-width: 768px) {
        padding: 140px 0px 70px;
    }
}

.hero {
    max-width: 448px;
}

.hero__main-title {
    margin-bottom: 8px;
    color: #00cc00;
    font-size: 64px;
    font-weight: 900;

    @media (max-width: 768px) {
        font-size: 40px;  
    }
}

.hero__subtitle {
    margin-bottom: 11px;
    color: #F0E3CA;
    font-size: 40px;
    font-weight: 700;

    @media (max-width: 768px) {
        font-size: 32px;  
    }
}

.hero__description {
    color: #F0E3CA;
    font-size: 20px;
    font-weight: 400;

    @media (max-width: 768px) {
        font-size: 24px;  
    }
}

.avatar {
    width: 629px;
    height: 575px;
    background-image: url(../../img/bg-pc.png);
    background-repeat: no-repeat;
    position: relative;

    @media (max-width: 768px) {
        width: 413px;
        height: 430px;
        background-size: cover;
    }

    @media (max-width: 450px) {
        width: 345px;
        height: 290px;
    }
}
.avatar__item {
    width: 374px;
    height: 374px;
    border-radius: 30% 70% 70% 30% / 30% 28% 72% 70%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: 768px) {
        width: 277px;
        height: 277px;
    }

    @media (max-width: 450px) {
        width: 220px;
        height: 220px;
    }


    img {
        width: 100%;
        height: 100%;
    }
}
.avatar__item--1 { 
    z-index: 3;
}
.avatar__item--2 {
    background-color: #00cc00;
    z-index: 2;
    transform: translate(-50%, -50%) rotate(50deg);
    animation: rotate 5s ease-in-out infinite;
    backdrop-filter: blur(8px);
    filter: blur(20px);
}
.avatar__item--3 {
    background-color: #F0E3CA;
    z-index: 1;
    transform: translate(-50%, -50%) rotate(120deg);
    animation: rotate 7s ease-in-out infinite;
    backdrop-filter: blur(8px);
    filter: blur(20px);
}

@keyframes rotate{
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}