.welcome {
}

.welcome__content {
    display: flex;
    justify-content: space-between;
    align-items:  center;
    padding: 72.5px 0px;

    @media (max-width: 1100px) {
        flex-direction: column;
        gap: 64px;
        padding: 128px 0px;
    }
}

.hero {
    max-width: 448px;
}

.hero__main-title {
    margin-bottom: 8px;
    color: #00cc00;
    font-size: 64px;
    font-weight: 900;
}

.hero__subtitle {
    margin-bottom: 11px;
    color: #F0E3CA;
    font-size: 40px;
    font-weight: 700;
}

.hero__description {
    color: #F0E3CA;
    font-size: 20px;
    font-weight: 400;
}

.avatar {
    width: 629px;
    height: 575px;
    background-image: url(../../img/bg-pc.png);
    background-repeat: no-repeat;
    position: relative;
}
.avatar__item {
    width: 374px;
    height: 374px;
    border-radius: 30% 70% 70% 30% / 30% 28% 72% 70%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    img {
        width: 100%;
        height: 100%;
    }
}
.avatar__item--1 { 
    z-index: 3;
}
.avatar__item--2 {
    background-color: #00cc00;
    z-index: 2;
    transform: translate(-50%, -50%) rotate(50deg);
}
.avatar__item--3 {
    background-color: #F0E3CA;
    z-index: 1;
    transform: translate(-50%, -50%) rotate(120deg);
}